body {margin: 0; padding: 0;}
#map {
   position: absolute;
   top: 0;
   bottom: 0;
   width: 100%;
   }
   #menu {
      position: relative;
      background: #6bc1e4;
      padding: 10px;
      font-family: 'Open Sans', sans-serif;
      }
   #menu2 {
      position: absolute;
      top: 40px;
      background: #757fdf;
      padding: 10px;
      font-family: 'Open Sans', sans-serif;
      }
   